body {
  /* background: linear-gradient(to bottom, rgb(2, 6, 23), rgb(15, 23, 42));
  color: var(--foreground);
  min-height: 100vh;
  font-weight: 500;
  font-optical-sizing: auto; */
}

.bg-gradient-overlay {
  background: linear-gradient(180deg, rgba(2, 6, 23, 0) 0%, rgb(2, 6, 23) 100%);
}

.cta-button {
  position: relative;
  overflow: hidden;
}

.cta-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.3), transparent);
  transition: 0.5s;
}

.cta-button:hover::before {
  left: 100%;
}

@keyframes beam-light {
  0% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}

.animate-beam-light {
  animation: beam-light 2s ease-in-out infinite alternate;
}

@tailwind base;

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}